{% extends 'listings/base.html' %}

{% block content %}
<h2>{{ listing.title }}</h2>

<ul>
    <li>Description : {{ listing.description }}</li>
    <li>Sold : {{ listing.sold|yesno }}</li>
    <li>Year : {{ listing.year }}</li>
    <li>Type : {{ listing.get_type_display }}</li>
    {% if listing.band %}
    <li>Band : <a href="{% url 'band_detail' listing.band.id %}"">{{ listing.band.name }}</a></li>
    {% endif %}
</ul>

    <p>{{ listing.biography }}</p>

    <a href=" {% url 'listing_change' listing.id %}">Edit this listing!</a>
        <a href=" {% url 'listing_delete' listing.id %}">Delete this listing!</a>
        <a href="{% url 'listing_list' %}">Back to the listing list</a>
        {% endblock %}